<div id="body">
   Obzervr Interview
    <br />

    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("QR", "Create", "QR", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Information", "Create", "Information", new { area = "" }, null)</li>
    </ul>
</div>
